@import '../utils/colors';
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    line-height: 1.7;
    background-color: #2f303a;
    color: getColor('body-color');
    &__box {
        display: block;
        text-align: center;
        @media screen and (min-width: 1200px) {
            text-align: start;
        }
    }
    &__logo {
        font-family: "Raleway";
        font-size: 26px;
        color: getColor('body-color');
        text-decoration: none;
    }
    &__logo>.blue {
        margin: 0;
        padding: 0;
        color: getColor('text-nav-color');
    }
    &__address {
        font-style: normal;
    }
    &__list {
        font-style: normal;
        margin-top: 8px;
        &-item+.footer__list-item {
            margin-left: 10px;
        }
        .list {
            font-style: normal;
            letter-spacing: 0.03;
            color: rgba(255, 255, 255, 0.6);
            text-decoration: none;
        }
    }
    &__social {
        margin-top: 60px;
        text-align: center;
        @media screen and (min-width: 768px) {
            margin-top: 5px;
            align-self: flex-start;
            margin-left: 165px;
        }
        @media screen and (min-width:1200px) {
            align-self: flex-start;
            margin-top: 12px;
            margin-left: 70px;
        }
        &-list {
            display: flex;
            justify-content: center;
            text-align: center;
        }
        &-link {
            width: 44px;
            height: 44px;
            background-color: #ffffff1a;
            color: getColor('body-color');
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus {
                background-color: getColor('text-nav-color');
                color: getColor('body-color');
            }
        }
        &-icon {
            fill: currentColor;
        }
    }
}

.social__title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: getColor('body-color');
    margin-bottom: 20px;
}

.container__footer {
    display: block;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    @media screen and (min-width:1200px) {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.paragraph {
    color: getColor('body-color');
    margin-top: 20px;
    display: block;
    font-style: normal;
}

.logo-footer {
    display: block;
    text-align: center;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    text-align: center;
    height: 156px;
    @media screen and (min-width: 768px) {
        width: 450px;
    }
    @media screen and (min-width:1200px) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 93px;
        margin-top: 12px;
        width: 570px;
        height: 86px;
    }
    &__title {
        margin-bottom: 20px;
        font-size: 14px;
        color: getColor('body-color');
        text-transform: uppercase;
    }
    &__mail {
        padding-left: 16px;
        max-width: 450px;
        min-width: 320px;
        height: 50px;
        background-color: transparent;
        color: #ffffff99;
        border: 1px solid #ffffff99;
        border-radius: 4px;
        @media screen and (min-width: 768px) {
            width: 450px;
        }
        @media screen and (min-width:1200px) {
            flex-wrap: nowrap;
            width: 358px;
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        border-radius: 4px;
        width: 200px;
        height: 50px;
        border: 1px solid getColor('text-nav-color');
        background-color: getColor('text-nav-color');
        color: getColor('background-button');
        cursor: pointer;
        font-family: inherit;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.9;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            border: 1px solid getColor('buttom-hover');
            background-color: getColor('buttom-hover');
            color: getColor('body-color');
        }
        @media screen and (min-width:1200px) {
            margin-top: 0;
            margin-left: 12px;
        }
    }
    &__icon {
        margin-left: 10px;
        fill: currentColor;
    }
}