.header {
    position: relative;
    ul {
        line-height: 1.2;
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 60px;
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            display: flex;
        }
    }
    &__container {
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            display: flex;
            width: 100%;
        }
    }
}

.portfolio__header {
    border-bottom: 1px solid #ececec;
    letter-spacing: 0.02em;
}

.header__mobile-menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

.mobile__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
}

.header__mobile-menu .icon__menu-open {
    display: none;
}

.header__mobile-menu.is-open .icon__menu-close {
    display: none;
}

.header__mobile-menu.is-open .icon__menu-open {
    display: block;
}