@import '../utils/colors';
.header {
    &__logo {
        padding: 16px 0;
        color: #000000;
        text-decoration: none;
        font-family: Raleway;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.03em;
        @media screen and (min-width: 768px) {
            padding: 26px 0;
            font-family: "Raleway";
            font-size: 26px;
            color: #000000;
            text-decoration: none;
            letter-spacing: 0.03em;
        }
        @media screen and (min-width: 1200) {
            padding: 24px 0 25px 0;
            font-family: "Raleway";
            font-size: 26px;
            color: #000000;
            text-decoration: none;
            letter-spacing: 0.03em;
        }
    }
    &__logo>.blue {
        color: map-get($colors, 'text-nav-color');
    }
}