html {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  color: #757575;

  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em; 
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
// .section {
//   padding: 94px 0;
// }
.container {
  min-width: 450px;
  margin-left: auto;
  margin-right: auto;}

//    @media screen and ($mobile) {
//     width: 450px;}

//     @media screen and ($tablet) {
//       width: 768px;
//     }
//     @media screen and($desktop) {
//       width: 1140px;      
//     }
